<ion-view title="Favoritos" id="page2">
  <ion-content padding="true" class="has-header">
    <div class="list card" id="favoritos-card22">
      <ion-item class="item-thumbnail-left item-icon-right" id="favoritos-list-item11">
        <h2>Oferta titulo</h2>
        <i class="icon ion-heart"></i>
      </ion-item>
      <div class="item item-body" id="favoritos-list-item-container5">
        <div id="favoritos-markdown6" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Descripción del favorito</p>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>